#!/bin/sh
# Installed via Ansible playbook
# TODO:Make the filter configurable or simply use first IPv6?
IP=$(ip -6 addr ls dev eno1 scope global primary | awk '/inet6 2001/{split($2,a,"/"); print a[1]}')
echo $IP
curl "https://www.duckdns.org/update?token={{ duckdns_token }}&ipv6=$IP&domains={{ duckdns_domains | join(',') }}&verbose=true"
